* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #293264;
    background-color: #f5f7fb;
    font-family: "Karla", sans-serif;
}

.site-container {
    min-height: 100vh;
    height: auto;
    padding: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-image: 
    url(../assets/images/blob-yellow.png),
    url(../assets/images/blob-blue.png);
    background-repeat: no-repeat;
    /* background-size: auto, auto; */
    background-position: 11em -7em, -7em 110%;
    background-attachment: fixed, fixed;
}

header a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2rem;
    color: #293264;
    text-decoration: none;
}

header a:visited {
    color: #293264;
}

/*****************
*** TITLE PAGE ***
******************/

.quiz-form {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-bottom: 0.8em;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.subtitle {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.quiz-settings {
    margin: 2em 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 1.2rem;
}

select {
    font-size: 1rem;
    text-align: right;
    cursor: pointer;
}

select#difficulty, 
select#category {
    width: 45%;
}

.btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #f5f7fb;
    background-color: #4d5b9e;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    color: #ffffff;
    background-color: #364383;
}

button:disabled {
    cursor: not-allowed;
}

.start-btn {
    padding: 1em 1.8em;
    margin-top: 0.5em;
    font-size: 1.5rem;
}

.reset-btn {
    padding: 1em;
    position: absolute;
    top: 1.4em;
    right: 1.2em;
    font-size: 0.8rem;
}

.answers-btn {
    padding: 1.4em 2em;
    margin-top: 0.8em;
    font-size: 1rem;
}

/*********************
*** QUESTIONS PAGE ***
*********************/


.questions-page {
    height: 100%;
    padding: 0 0.8em;
    display: flex;
    align-items: center;
    margin: auto;
}

.loading-text {
    margin: auto;
    font-size: 2rem;
}

.questions-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-container {
    padding-bottom: 1em;
    border-bottom: 0.8px solid #dbdef0;
}

.question-text {
    padding: 0.8em 0;
    font-size: 1rem;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.answer {
    padding: 0.5em 0.8em;
    max-width: calc(50% - 1em); /* 1em accounts for space between answers */
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: 0.8px solid #4d5b9e;
    border-radius: 15px;
    cursor: pointer;
}

.selected-answer {
    background: #D6DBF5;
    border: none;
}

.correct-answer {
    background: #94d7a2;
    border: none;
}

.unselected-incorrect-answer {
    opacity: 0.5;
}

.selected-incorrect-answer {
    background: #f8bcbc;
    border: none;
    opacity: 0.5;
}

.results-container {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.score-text {
    margin: 0.3em 0;
    font-size: 1.2rem;
}

/******************
** MEDIA QUEIRES **
******************/

/* For smaller phone screens */
@media screen and (min-width: 375px) and (max-width: 400px) {
    html {
        font-size: 0.95rem;
    }
    form {
        width: 88%;
    }
    .reset-btn {
        font-size: 0.75rem;
        top: 1.6em;
    }
}

/* For portrait tablets */
@media screen and (min-width: 600px) {
    
    .title {
        font-size: 3rem;
    }

    .site-container {
        padding: 2em;
        gap: 2em;
        background-position: 150% -25%, -18% 115%;
    }

    .questions-page {
        width: 90%;
    }

    .reset-btn {
        font-size: 0.9rem;
        top: 1.6em;
        right: 1.4em;
    }

    .answers-btn {
        margin-top: 1em;
    }
}

/* For landscape tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 1.4rem;
    }
    .site-container {
        background-size: 75% 50%;
        background-position: 200% -40%, -120% 150%;
    }
    .reset-btn {
        right: 2.5em;
    }
} 

/* For small laptops */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    html {
            font-size: 1.6rem;
        }

    header a {
        font-size: 1.5rem;
    }

    .title {
        font-size: 3rem;
    }

    .site-container {
        padding: 1.6em;
        text-align: center;
        background-size: 75% 50%;
        background-position: 200% -40%, -120% 150%;
    }

    .questions-page {
        width: 88%;
    }

    .question-container {
        margin: 0.6em 0;
        padding-bottom: 2em;
    }

    .answers-btn {
        margin-top: 0.2em;
    }
}

/* For large laptops to desktops */
@media screen and (min-width: 1280px) {
    html {
            font-size: 1.4rem;
    }

    header a {
        font-size: 1.4rem;
    }

    .title {
        font-size: 2.6rem;
    }

    .site-container {
        padding: 1.6em;
        background-size: 40% 50%;
        background-position: 120% -20%, -25% 150%;
    }

    .questions-page {
        width: 88%;
    }

    .question-container {
        margin: 0.6em 0;
        padding-bottom: 2em;
    }

    .answers-btn {
        margin-top: 0.2em;
    }
}